@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<IgbDataGrid Height="400px" DataSource="@RemoteJson.WithUri("https://excel2json.io/api/shared/")"></IgbDataGrid>
